<div>
  <form #form="ngForm">

    <fieldset>
      <legend>Testing Angular Forms</legend>

      <label for="name">Name</label>
      <input type="text" id="name" name="name" [(ngModel)]="user.name" (keyup)="logthat()">
      
      <p>Select your Gender</p>
      <input type="radio" name="gender" id="h" name="h" value="h" [(ngModel)]="user.gender">
      <label for="h">Helicopter</label>
      <input type="radio" name="gender" id="c" name="c" value="c" [(ngModel)]="user.gender"> 
      <label for="c">Camel</label>
      <input type="radio" name="gender" id="g" name="g" value="g" [(ngModel)]="user.gender">
      <label for="g">Gudang</label>
    </fieldset>

  </form>

  <ng-template #template>Ueppaaa</ng-template>

  <button type="submit" (click)="showButton()">Submmit</button>


  <div id="uepa" *ngIf="show">
    <div *ngTemplateOutlet="template"></div>
  </div>
  
  <!--<p class="uepa">abc</p>
  <ng-content select=".uepa"></ng-content>-->

</div>